title = "config"

[api]

host = ":443"

[database]
host = localhost 
user = user
password = password
dbname = dbname
port = port
sslmode = sslmode

[methods]

[methods.mixin]
pin = ""
client_id = ""
session_id = ""
pin_token = ""
private_key = ""
app_secret = ""

[methods.telegram]
token = ""

[methods.signal]
from = ""

[methods.smsbao]
# Chinese sms
user = ""
pass = ""

[methods.dingxin]
# Chinese call
app_code = ""
template_id = ""

[methods.twilio]
from_number = ""
sid = ""
token = ""
