[Unit]
Description=Leafer
After=network.target

[Service]
User=root
Type=simple
ExecStart=/usr/bin/mnm run '[PATH]/leafer'
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
